<!DOCTYPE html>

<header>

</header>

<body>
 <h1>Create a Puppy!</h1>

<form method="POST" action="/display_puppy">
  <p>Name: <Input type="text" name="name"></p>
  <p>Breed: <Input type="text" name="breed"></p>
  <p>Age: <Input type="text" name="age"></p>
    <Input type="submit" value="submit">
</form>

</body>
